<div class="p-5 background-top">
	<h2 class="text-center text-light">
		<span>
			<img src="https://www.logolynx.com/images/logolynx/01/01838a9bafa1216608adbb506e3d4d62.jpeg" alt="logo" />
		</span>
		Books Helper
	</h2>
</div>
