<div class="container main">
    <div class="row">
        <div class="col-3 side-bar">
    
        </div>
        <div class="col-9 bar">
    
        </div>
    </div>
</div>


<h1 class="h1">New Book</h1>

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>
