/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
.main {
    background-color: red;
    height: 100vh;
    .side-bar {
        background-color: rgb(55, 55, 61);
        height: 100vh;
    }
    .bar {
        background-color: rgb(248, 248, 248);
        height: 100vh;
        padding: 0;
        .header {
            height: 120px;
        }
        .content {
            height: 800px;
        }
        .links {
            color: rgb(68, 64, 64);
            text-decoration: none;
            font-weight: lighter !important;
            padding-bottom: 15px;
            &:hover {
                color: rgb(12, 12, 12);
                font-weight: bold;
            }
        }
        .active-link {
            border-bottom: rgb(104, 104, 248);
            border-width: 2px;
            border-bottom-style: solid;
        }
    }
}